body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6  {
  color: red;
  font-family: 'Spectral SC', serif;
}

p, ul {
  color: white;
  font-family: 'Spectral SC', serif;
}

.breeds {
  color: blue;
}
